<v-toolbar dark dense flat color="primary">
    <v-btn icon @click.stop="drawer = !drawer">
        <v-icon>menu</v-icon>
    </v-btn>
    <v-toolbar-title class="Lexend">
        Tome
    </v-toolbar-title>
    <v-spacer></v-spacer>

    <v-divider vertical inset></v-divider>

    <v-tooltip bottom open-delay="0" close-delay="0">

        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon>live_help</v-icon>
            </v-btn>
        </template>        

        <span>Info</span>

    </v-tooltip>

    <v-tooltip bottom open-delay="0" close-delay="0">

        <template v-slot:activator="{ on }">
            <v-btn icon @click="logout" v-on="on">
                <v-icon>exit_to_app</v-icon>
            </v-btn>
        </template>
        

        <span>Logout</span>

    </v-tooltip>

</v-toolbar>

<v-navigation-drawer v-model="drawer" absolute temporary>
    <v-list class="pa-1">
        <v-list-tile avatar>
            <v-list-tile-avatar>
                <img src="https://previews.123rf.com/images/ammentorp/ammentorp1704/ammentorp170400278/77014947-square-portrait-of-young-woman-with-sunglasses-against-beige-background-caucasian-female-fashion-mod.jpg">
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title>%{fullName}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>

    <v-list class="pt-0">
        <v-divider></v-divider>

        <v-list-tile>
            <v-list-tile-action>
                <v-icon>home</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile>
            <v-list-tile-action>
                <v-icon>home</v-icon>
            </v-list-tile-action>
        
            <v-list-tile-content>
                <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>

</v-navigation-drawer>