<v-toolbar dark dense flat color="primary">
    <v-btn icon @click.stop="drawer = !drawer">
        <v-icon>menu</v-icon>
    </v-btn>
    <v-toolbar-title class="Lexend" style="cursor: pointer" @click="goto('/user')">
        Tome
    </v-toolbar-title>
    <v-spacer></v-spacer>

    <v-divider vertical inset></v-divider>

    <v-tooltip bottom open-delay="0" close-delay="0">

        <template v-slot:activator="{ on }">
            <v-btn icon @click="logout" v-on="on">
                <v-icon>exit_to_app</v-icon>
            </v-btn>
        </template>
        
        <span>Logout</span>

    </v-tooltip>

</v-toolbar>

<v-navigation-drawer v-model="drawer" absolute temporary>
    <v-list class="pa-1 pl-2">
        <v-list-tile avatar>
            <v-list-tile-avatar>
                <img :src="`${src}`">
            </v-list-tile-avatar>

            <v-list-tile-content>
                <v-list-tile-title>%{fullName}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>

    <v-list class="pt-0">
        <v-divider></v-divider>

        <v-list-tile @click="goto('/user')">
            <v-list-tile-action>
                <v-icon>home</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
                <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="goto('/user/journal')">
            <v-list-tile-action>
                <v-icon>menu_book</v-icon>
            </v-list-tile-action>
        
            <v-list-tile-content>
                <v-list-tile-title>Journal</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="goto('/user/bookshelves')">
            <v-list-tile-action>
                <v-icon>bookmarks</v-icon>
            </v-list-tile-action>
        
            <v-list-tile-content>
                <v-list-tile-title>Bookshelves</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="goto('/user/bookclubs')">
            <v-list-tile-action>
                <v-icon>people</v-icon>
            </v-list-tile-action>
        
            <v-list-tile-content>
                <v-list-tile-title>Book clubs</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        <v-list-tile @click="goto('/user/books')">
            <v-list-tile-action>
                <v-icon>book</v-icon>
            </v-list-tile-action>
        
            <v-list-tile-content>
                <v-list-tile-title>Books</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

    </v-list>

</v-navigation-drawer>