<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <script src="../js/clubs.js" defer></script>
</head>

<body>

    <div id="app">
        <v-app v-cloak>
            {{> nav}}

            <v-container class="mt-1 px-0" fluid style="width: 95%;">
                <v-layout wrap>

                    <v-flex xs12 class="pr-2">
                        <v-card class="pt-3 pb-2 px-4" style="border-radius: 5px">
                            <div class="lexend mb-1 ml-3">
                                Your Book Clubs 📓
                            </div>


                            <v-divider></v-divider>
                            <v-layout class="my-4" row wrap v-for="bookclub in bookclubs">
                                <v-flex xs12 class="mb-2 pr-5">
                                    <div class="lexend" style="font-weight: 600">%{bookclub.name}</div>
                                    <div class="grey--text text--lighten-1">Owned by %{bookclub.owner}</div>
                                    <div class="roboto">%{bookclub.description}</div>
                                </v-flex>
                                <v-flex xs12 class="mt-1">
                                    <v-chip color="secondary" dark>Members: %{bookclub.numMembers}</v-chip>
                                    <v-chip color="secondary" dark>Bookshelves: %{bookclub.bookshelves.length}</v-chip>
                                    <v-chip color="secondary" dark>Books: %{bookclub.numBooks}</v-chip>
                                </v-flex>
                                <v-flex xs12 class="mt-2">
                                    <div>
                                        Bookshelves:
                                    </div>
                                    <v-chip label v-for="bookshelf in bookclub.bookshelves">%{bookshelf}</v-chip>
                                    <v-chip @click="" v-if="bookclub.isOwner"><v-icon style="cursor: pointer">add</v-icon></v-chip>
                                </v-flex>
                            </v-layout>

                        </v-card>
                    </v-flex>
                    <v-btn block color="secondary" outline class="mt-3" @click="openAddClub">Add/Find a Book Club</v-btn>
                </v-layout>
            </v-container>

            <v-dialog v-model="dialogs.addClub" max-width="500" light persistent>
                <v-card>
            
                    <v-toolbar color="secondary" dark dense>
                        <v-toolbar-title class="lexend"> Add Book Club </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon depressed flat @click="closeAddClub" color="white" class="condensed">
                            <v-icon> close </v-icon>
                        </v-btn>
                    </v-toolbar>
            
                    <v-card-text>
                        <v-form ref="addBookForm" class="pb-3 px-3">
                            <v-autocomplete v-model="selectedClub" :items="clubResults" :loading="searchIsLoading"
                                :search-input.sync="search" color="primary" hide-details item-text="name"
                                label="Search for a book club" placeholder="Start typing to Search" prepend-icon="search"
                                return-object class="mb-2"></v-autocomplete>
                            
                            <v-chip v-if="selectedClub!=null">Members: %{selectedClub.numMembers}</v-chip>
                            <v-chip v-if="selectedClub!=null">Bookshelves: %{selectedClub.numBookshelves}</v-chip>
            
                            <br>
                            <v-btn class="mt-4 ml-0" color="secondary" @click="submitAddClub">Add book club</v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-dialog>

            {{!-- confirming close the add book dialog --}}
            <v-dialog v-model="dialogs.confirmCloseAddClub" max-width="350" persistent>
                <v-card>
                    <v-card-text class="pa-4">Close without saving changes?</v-card-text>
                    <v-container class="pt-0">
                        <v-layout>
                            <v-flex xs12>
                                <v-btn v-on:click="confirmCloseAddClub" color="primary"
                                    class="mr-0 absolute right bottom white--text roboto"> Close </v-btn>
                                <v-btn v-on:click="closeCloseAddClub" depressed text class="mr-0 absolute right bottom roboto"> Go Back
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-dialog>

        </v-app>
    </div>
</body>

</html>