<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <script src="../js/journal.js" defer></script>
</head>

<body>

    <div id="app">
        <v-app v-cloak>
            {{> nav}}

            <v-container class="mt-1 px-0 mb-4" fluid style="width: 95%;">
                <v-layout wrap>

                    {{!-- add search bar? --}}

                    <v-flex xs4>
                        <v-card style="border-radius: 5px; eight: 40vh;">
                            <v-list class="pt-0" dense style="height: 40vh; overflow-y: scroll">
                                <v-subheader>Journal Entries</v-subheader>

                                <v-list-tile @click="openEntry(index)" class="ma-0 pa-0" style="padding-left: 0 !important" v-for="(entry, index) in entries">
                                    <div :style="`background-color: #${entry.color}; height: 100%; width: 5px;`"></div>
                                
                                    {{!-- name content date color --}}
                                    <v-list-tile-content class="ml-3">
                                        <v-list-tile-title class="lexend">%{entry.name}</v-list-tile-title>
                                        <span class="grey--text text--lighten-1">%{niceDate(new Date(entry.date))}</span>
                                    </v-list-tile-content>
                                </v-list-tile>
                            
                            </v-list>
                        </v-card>
                        
                    </v-flex>

                    <v-flex xs8>
                        <v-card class="ml-5 pa-4" style="border-radius: 5px; height: 40vh">
                            <div class="grey--text text--lighten-1" v-if="entries.length!=0">%{niceDateWithTime(new Date(entries[openedEntry].date))}</div>
                            <div class="headline" v-if="entries.length!=0">%{entries[openedEntry].name}</div>
                            <div v-if="entries.length!=0">%{entries[openedEntry].content}</div>
                        </v-card>
                    </v-flex>

                    <v-flex xs12 class="mt-4">
                        <v-card class="pt-3 pb-4 px-4" style="border-radius: 5px">
                            <div class="lexend mb-1 ml-3">
                                Reading Journal 📓
                            </div>
                            <v-form>
                                <v-layout class="mb-2">
                                    <v-flex xs9 style="margin: auto" class="mr-4">
                                        <v-text-field placeholder="Entry title" hide-details solo v-model="entryName"></v-text-field>
                                    </v-flex>
                                    <v-flex xs1 style="margin: auto;">
                            
                                        <v-menu offset-y min-width="160">
                                            <template v-slot:activator="{on: menu}">
                                                <div :style="`height: 40px; width: 40px; background-color: #${colorOptions[selectedColor].hex}; border-radius: 50%; cursor: pointer`"
                                                    v-on="{...menu}"></div>
                                            </template>
                            
                                            {{!-- options in the menu --}}
                                            <v-list>
                                                <v-list-tile ripple v-for="(color, index) in colorOptions" @click="selectColor(index)">
                                                    <v-list-tile-title class="mx-2 roboto" :style="`color: #${color.hex}`"> %{color.name}
                                                    </v-list-tile-title>
                                                </v-list-tile>
                                            </v-list>
                                        </v-menu>
                            
                                    </v-flex>
                                    <v-spacer></v-spacer>
                                    <v-flex xs2>
                                        <v-btn class="my-4" color="primary" @click="submitJournal">Add entry</v-btn>
                                    </v-flex>
                                </v-layout>
                            
                                <v-textarea box hide-details placeholder='Record your thoughts' v-model="entryContent"></v-textarea>
                            
                            </v-form>
                        </v-card>
                    </v-flex>

                </v-layout>
            </v-container>

        </v-app>
    </div>
</body>

<style>
    a.v-list__tile {
        padding-left: 0 !important;
    }
</style>
</html>